.container__image-list {
  width: 100%;  
  display: flex;
  margin: 0 auto;

  .image-list__grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    grid-gap: 0.3em;
    width: 93%;
    margin: 0 auto;
    
    .image-item {
      transition: all 0.9s ease-in-out;
      @include delay(transition, 12, 0.07s);

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}