.container__image-list {
  width: 100%;  
  display: flex;
  margin: 0 auto;

  .image-list__grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    grid-gap: 0.4em;
    width: 93%;
    margin: 0 auto 10vh;
    
    .image-item {
      transition: all 0.9s ease-in-out;
      @include delay(transition, 12, 0.07s);

      .background-image {
        height: 250px; 
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
      }
    }
  }
}